<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>spdm</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<context-param>
  		<param-name>numSistema</param-name>
    	<param-value>3</param-value>
  	</context-param>
	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION</param-name>
		<param-value>40</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.enableControlSkinning</param-name>
	    <param-value>false</param-value>
	</context-param>
	<context-param>
	    <param-name>org.richfaces.skin</param-name>
	    <param-value>plain</param-value>
	</context-param>
	<context-param>
	    <param-name>org.richfaces.enableControlSkinningClasses</param-name>
	    <param-value>false</param-value>
	</context-param>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<security-constraint>
		<display-name>Restrição dos arquivos XHTML</display-name>
		<web-resource-collection>
			<web-resource-name>XHTML</web-resource-name>
			<url-pattern>*.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
	<error-page>
		<error-code>403</error-code>
		<location>/index.html</location>
	</error-page>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/index.html</location>
	</error-page>
	
	<filter>
		<filter-name>AutorizacaoFilter</filter-name>
		<filter-class>br.com.a2dm.brcmn.util.filter.AutorizacaoFilter</filter-class>
	</filter>

  	<filter-mapping>
		<filter-name>AutorizacaoFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
  	</filter-mapping>
  	
  	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>
	
</web-app>